<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:sws="http://www.springframework.org/schema/web-services"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                                                        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                                                        http://www.springframework.org/schema/web-services
                                                        http://www.springframework.org/schema/web-services/web-services-2.0.xsd
                                                        http://www.springframework.org/schema/context
                                                        http://www.springframework.org/schema/context/spring-context-3.0.xsd">


	<context:component-scan base-package="cz.kul.weather" />
	<sws:annotation-driven />
	<context:annotation-config />


	<!-- Our test service bean -->
	<bean id="WeatherSOAPService"
		class="org.springframework.ws.wsdl.wsdl11.DefaultWsdl11Definition"
		lazy-init="true">
		<property name="schemaCollection">
			<bean
				class="org.springframework.xml.xsd.commons.CommonsXsdSchemaCollection">
				<property name="inline" value="true" />
				<property name="xsds">
					<list>
						<value>schemas/weather.xsd</value>
					</list>
				</property>
			</bean>
		</property>
		<property name="portTypeName" value="WeatherService" />
		<property name="serviceName" value="WeatherServices" />
		<property name="locationUri" value="/sws" />
	</bean>

	<bean id="WeatherService" class="cz.kul.weather.WeatherService">
		<constructor-arg>
			<ref bean="WeatherConnector" />
		</constructor-arg>
		<constructor-arg>
			<bean id="WeatherCache" class="cz.kul.weather.WeatherCache"></bean>
		</constructor-arg>
		<property name="maxActualWeatherAge" value="#{3600 * 1000 * 3}" />
	</bean>

	<bean id="WeatherConnector" class="cz.kul.weather.wunderground.WundergroundConnector">
		<property name="wundergroundKey" value="dc01fc6353d7368c" />
		<property name="dataFetcher">
			<bean class="cz.kul.weather.wunderground.UrlDataFetcher" />
		</property>
	</bean>

</beans>