<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
 
    <bean id="person" class="cz.kul.snippets.spring.common.Person">
        <property name="name" value="Pepa" />
        <property name="surname" value="Novak" />
    </bean>
	
    <bean id="prototype" class="cz.kul.snippets.spring.common.Bean1" scope="prototype">
        <constructor-arg value="foo"></constructor-arg>
    </bean>
 
</beans>