<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<display-name>Archetype Created Web Application</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/config/spring-config.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>spring-ws</servlet-name>
		<servlet-class>org.springframework.ws.transport.http.MessageDispatcherServlet</servlet-class>
		<init-param>
			<param-name>transformWsdlLocations</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value></param-value>
		</init-param>
	</servlet>
	
	<servlet>
    	<servlet-name>rest</servlet-name>
    	<servlet-class>
        	org.springframework.web.servlet.DispatcherServlet
    	</servlet-class>    	
    	<load-on-startup>1</load-on-startup>
    </servlet>
	
	<servlet>
		<servlet-name>test-servlet</servlet-name>
		<servlet-class>cz.kul.weather.TestServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>rest</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>spring-ws</servlet-name>
		<url-pattern>/sws/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>test-servlet</servlet-name>
		<url-pattern>/testServlet</url-pattern>
	</servlet-mapping>


</web-app>
